.SelectBlock{
    display: inline;
}

.ImgCover{
    display: inline-block;
    width: 24;
    height: 50;
    background-color: #ffff;
}

select {
    border: 1px solid white;
    text-align: center;
    padding-left: 10px;
}